# We have used Feature Tools for Feature Importance

In [40]:
#import necessary package
import pandas as pd
import featuretools as ft

# Reading the file

In [41]:
df = pd.read_csv("../Data/Original Data/feature.csv",header=0,encoding='utf-8')

In [42]:
df

          issue_d grade sub_grade        term addr_state
0       11-Dec-19     B        B2   36 months         AZ
1       11-Dec-19     C        C4   60 months         GA
2       11-Dec-19     C        C5   36 months         IL
3       11-Dec-19     C        C1   36 months         CA
4       11-Dec-19     B        B5   60 months         OR
5       11-Dec-19     A        A4   36 months         AZ
6       11-Dec-19     C        C5   60 months         NC
7       11-Dec-19     E        E1   36 months         CA
8       11-Dec-19     F        F2   60 months         CA
9       11-Dec-19     B        B5   60 months         TX
10      11-Dec-19     C        C3   60 months         AZ
11      11-Dec-19     B        B5   36 months         CA
12      11-Dec-19     C        C1   36 months         VA
13      11-Dec-19     B        B1   36 months         IL
14      11-Dec-19     B        B2   36 months         CA
15      11-Dec-19     D        D1   36 months         MO
16      11-Dec-19     C        C4   36 months         CA
17      11-Dec-19     A        A1   36 months         CT
18      11-Dec-19     B        B3   36 months         UT
19      11-Dec-19     A        A1   36 months         CA
20      11-Dec-19     C        C4   60 months         TX
21      11-Dec-19     B        B4   36 months         FL
22      11-Dec-19     B        B3   36 months         TX
23      11-Dec-19     B        B3   36 months         CA
24      11-Dec-19     B        B3   36 months         CA
25      11-Dec-19     B        B1   36 months         IL
26      11-Dec-19     C        C2   36 months         NY
27      11-Dec-19     D        D2   60 months         PA
28      11-Dec-19     B        B3   36 months         FL
29      11-Dec-19     B        B3   36 months         MN
...           ...   ...       ...         ...        ...
887349  15-Jan-19     A        A3   36 months         FL
887350  15-Jan-19     C        C3   60 months         CA
887351  15-Jan-19     D        D2   36 months         CO
887352  15-Jan-19     B        B5   36 months         MD
887353  15-Jan-19     B        B4   60 months         FL
887354  15-Jan-19     D        D5   36 months         GA
887355  15-Jan-19     A        A5   36 months         UT
887356  15-Jan-19     D        D1   60 months         MT
887357  15-Jan-19     D        D5   60 months         KY
887358  15-Jan-19     D        D2   60 months         NC
887359  15-Jan-19     D        D1   60 months         MN
887360  15-Jan-19     B        B1   60 months         NY
887361  15-Jan-19     A        A1   36 months         MA
887362  15-Jan-19     A        A5   36 months         NM
887363  15-Jan-19     B        B2   36 months         NV
887364  15-Jan-19     A        A1   36 months         FL
887365  15-Jan-19     C        C4   36 months         IN
887366  15-Jan-19     D        D3   36 months         FL
887367  15-Jan-19     A        A2   36 months         FL
887368  15-Jan-19     C        C5   60 months         NC
887369  15-Jan-19     B        B1   36 months         CA
887370  15-Jan-19     B        B2   36 months         WI
887371  15-Jan-19     E        E2   36 months         OH
887372  15-Jan-19     B        B5   36 months         OH
887373  15-Jan-19     D        D1   36 months         TX
887374  15-Jan-19     B        B5   36 months         CA
887375  15-Jan-19     B        B5   36 months         NJ
887376  15-Jan-19     D        D2   60 months         TN
887377  15-Jan-19     E        E3   60 months         MA
887378  15-Jan-19     B        B5   36 months         FL

[887379 rows x 5 columns]

In [43]:
# Make an entityset and add the entity
es = ft.EntitySet(id = 'data')
es.entity_from_dataframe(entity_id = 'data', dataframe = df, 
                         make_index = True, index = 'index')

Entityset: data
  Entities:
    data [Rows: 887379, Columns: 6]
  Relationships:
    No relationships

# List all the avaliable primitives

In [44]:
ft.list_primitives()

,name,type,description
0,n_most_common,aggregation,Finds the N most common elements in a categori...
1,time_since_first,aggregation,Time since first related instance.
2,last,aggregation,Returns the last value.
3,skew,aggregation,Computes the skewness of a data set.
4,trend,aggregation,Calculates the slope of the linear trend of va...
5,percent_true,aggregation,Finds the percent of 'True' values in a boolea...
6,avg_time_between,aggregation,Computes the average time between consecutive ...
7,max,aggregation,Finds the maximum non-null value of a numeric ...
8,any,aggregation,Test if any value is 'True'.
9,sum,aggregation,Sums elements of a numeric or boolean feature.
10,std,aggregation,Finds the standard deviation of a numeric feat...
11,num_true,aggregation,Finds the number of 'True' values in a boolean.
12,min,aggregation,Finds the minimum non-null value of a numeric ...
13,median,aggregation,Finds the median value of any feature with wel...
14,count,aggregation,Counts the number of non null values.
15,time_since_last,aggregation,Time since last related instance.
16,num_unique,aggregation,Returns the number of unique categorical varia...
17,mode,aggregation,Finds the most common element in a categorical...
18,all,aggregation,Test if all values are 'True'.
19,mean,aggregation,Computes the average value of a numeric feature.
20,is_null,transform,"For each value of base feature, return 'True' ..."
21,time_since_previous,transform,Compute the time since the previous instance.
22,day,transform,Transform a Datetime feature into the day.
23,greater_than_scalar,transform,
24,num_characters,transform,Return the number of characters in a given str...
25,isin,transform,"For each value of the base feature, checks whe..."
26,absolute,transform,Absolute value of base feature.
27,equal_scalar,transform,
28,or,transform,
29,modulo_by_feature,transform,
...,...,...,...
46,diff,transform,Compute the difference between the value of a ...
47,and,transform,
48,greater_than_equal_to,transform,
49,less_than_equal_to,transform,
50,minute,transform,"Transform a Datetime feature into the ""minute."
51,latitude,transform,Returns the first value of the tuple base feat...
52,cum_mean,transform,Returns the cumulative mean after grouping
53,second,transform,Transform a Datetime feature into the second.
54,not_equal_scalar,transform,
55,greater_than_equal_to_scalar,transform,
56,divide_numeric,transform,
57,multiply_numeric_scalar,transform,
58,less_than,transform,
59,num_words,transform,Returns the number of words in a given string ...
60,modulo_numeric,transform,
61,subtract_numeric,transform,
62,cum_max,transform,Returns the cumulative max after grouping
63,cum_sum,transform,Returns the cumulative sum after grouping
64,percentile,transform,"For each value of the base feature, determines..."
65,less_than_scalar,transform,
66,haversine,transform,Calculate the approximate haversine distance i...
67,divide_by_feature,transform,
68,year,transform,Transform a Datetime feature into the year.
69,not_equal,transform,
70,equal,transform,
71,not,transform,"For each value of the base feature, negates th..."
72,days_since,transform,"For each value of the base feature, compute th..."
73,week,transform,Transform a Datetime feature into the week.
74,add_numeric,transform,
75,greater_than,transform,

In [45]:
# Run deep feature synthesis with transformation primitives
feature_matrix, feature_defs = ft.dfs(entityset = es, target_entity = 'data',
                                      trans_primitives = ['year', 'month'])

feature_matrix.head()

      grade sub_grade        term addr_state  YEAR(issue_d)  MONTH(issue_d)
index
0         B        B2   36 months         AZ           2019              12
1         C        C4   60 months         GA           2019              12
2         C        C5   36 months         IL           2019              12
3         C        C1   36 months         CA           2019              12
4         B        B5   60 months         OR           2019              12

In [46]:
feature_matrix.to_csv('../Data/Original Data/feature_gained.csv')

------- Feature Tools vs Manual Feature -----
Feature tool helps a user to find some features that are necessary for mathematical calculation like avg,min,max,count etc.
Feature tool have a lots of limitation like you need to pass proper entities before gaining features out of it.
so, if a user needs to find some function related to maths then feature tool is useful. Feature tool works well only with the numeric data.
A user needs to decide manually first what features he need and the pass the primitives accordingly.In short it is manually feature selection .